
.box-size{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border: 2px solid black;
}

@media screen and (min-width:250px){
    .box-size{
        background-color: aqua;
        border: 2px solid blue;
    }
}