
.pseudo{
    height: 50px;
    width: 150px;
    background-color: blue;
    color: aliceblue;
    font-size: 17px;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 10px;

    /* Transition Property */
    transition-property: all;
    transition-duration: 1s;
    /* transition-timing-function: ease-in-out;  */
    /* transition-timing-function: steps(5); */
    transition-timing-function: linear;
    transition-delay: 1s;

    /* shorthand transition-property: */
    /* transition:all 1s ease-in-out 1s; */
}

.pseudo:hover{
    background-color: aliceblue;
    color: blue;
}

.pseudo:active{
    background-color: aquamarine;
    color: black;
}